<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
    <p>Submit a file to view its filesize.</p>
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile" />
        <input type="submit" />
    </form>
</div>

</body>
</html>
